<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>927628427886-46m89cjjhtsptcuil4m8ek89ke5tgomj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927628427886-46m89cjjhtsptcuil4m8ek89ke5tgomj</string>
	<key>API_KEY</key>
	<string>AIzaSyCsiBkADtEi2XYio6Z2ALEgnPP7Iq84t0I</string>
	<key>GCM_SENDER_ID</key>
	<string>927628427886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.contactYoutube</string>
	<key>PROJECT_ID</key>
	<string>netfilxclone-f8255</string>
	<key>STORAGE_BUCKET</key>
	<string>netfilxclone-f8255.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927628427886:ios:a915925ba2d078d6c0dc7f</string>
</dict>
</plist>